body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.subtitle {
    font-size: 0.8em;
    color: grey;
}

.logo-container {
    display: flex;
    flex-direction: row;
    ;
}

.logo-main {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
}

.main-content>section {
    display: flex;
    justify-content: center;
}

.virtues-container {
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    margin-left:-1em;
    margin-right:-1em;
}

.virtues-container>div {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    background-color: white;
}

.yes-no-buttons {
    width: 25%;
    display: flex;
}

.yes-no-buttons>button {
    width: 100%;
    background-color: burlywood;
    text-decoration: underline;
}

.virtue-description {
    width: 75%;
    margin: 0.4em;
}

.green {
    color: green;
}

.report-ben-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1em;
}

.report-ben-list-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #dddddd;
}

.report-ben-list-items>div {
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
}

.report-ben-list-items>div>time {
    font-size: 0.8em;
    font-style: italic;
}

.report-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}