body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


*{
  border: 1px green solid;
}

.main-content{
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.main-content > section {
  display: flex;
  justify-content: center;
}

.virtues-container{
  display: flex;
  flex-direction: column;
}
.virtues-container > div{
  display: flex;
  flex-direction: row;
}

.yes-no-buttons{
  width: 25%;
  display: flex;
}
.yes-no-buttons > button{
  width: 100%;
  background-color: burlywood;
  text-decoration: underline;
}

.virtue-description{
  width: 75%;
}

.green{
  color: green;
}